@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 100px;
    background: rgb(240, 238, 238) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.circle{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(to right, #e42c54, #ee3e5b);
    clip-path: circle(50% at botton and right);
  
} 
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;    
    align-items: center;
    justify-content: space-between;
   
}
header.Logo{
    position: relative;
  
    width: 100px;
    height: 100px;
    display: flex; 
    
}
header .navegation ul{
    position: relative;
    display: flex;
 
}
header .navegation li{
    list-style: none;
}
header .navegation li a{
    color: rgb(255, 255, 255);
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.container .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.container .text h2{
    color: blue;  
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.container .text h2 span{
    font-size: 3.5em; 
    color: aquamarine;
}
.container .text p{
    color: rgb(236, 13, 13); 
}
.container .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: rgba(112, 75, 112, 0.733) ;
    color: rgb(38, 0, 177);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.container .text a:hover{
    transform: translateY(-10px);
}
.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons li{
    list-style: none;
}
.icons li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(143, 26, 22, 0.733); 
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.icons li a:hover{
    background: rgba(52, 2, 75, 0.733);
    transform: translateY(-10px);
}
.icons li a img{
    transform: scale(0.5);
    filter: invert(1);
}
.boxImg{
    position: absolute;
    right: 0;
    bottom: -40px;
}
.box Img img{
    width: 200;
}
.boxImg .igm1{
    transform: rotate(-15deg);
}
.boxImg .igm2{
    transform: rotate(5deg);
}
.boxImg .igm3{
    transform: rotate(15deg);
}
.boxImg .igm4{
    transform: rotate(-15deg);
}
.ci {
    position: absolute; 
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f5a8b9, #ec5972);
    
}